{{ define "discord.title" }}
{{ if eq .Status "firing" }}🚨 ALERTE{{ else }}✅ RÉSOLUE{{ end }} - {{ .GroupLabels.alertname }}
{{ end }}

{{ define "discord.text" }}
{{ range .Alerts }}
**{{ .Labels.alertname }}** ({{ .Labels.severity }})
{{ .Annotations.summary }}

{{ if .Annotations.description }}
> {{ .Annotations.description }}
{{ end }}

**Environnement:** {{ if .Labels.environment }}{{ .Labels.environment }}{{ else }}unknown{{ end }}
**Service:** {{ if .Labels.service }}{{ .Labels.service }}{{ else }}N/A{{ end }}
{{ if eq .Status "firing" }}
**Depuis:** {{ .StartsAt.Format "15:04:05 02/01/2006" }}
{{ else }}
**Résolu à:** {{ .EndsAt.Format "15:04:05 02/01/2006" }}
{{ end }}
---
{{ end }}
{{ end }}
